@import 'tailwindcss';
@import 'tw-animate-css';
@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-mobile: 360px;
  --breakpoint-tablet: 696px;
  --breakpoint-desktop: 1032px;
}

:root {
  --neutral-0: #ffffff;
  --neutral-100: #eef2f5;
  --neutral-200: #f3f5f7;
  --neutral-300: #ffffff;
  --neutral-400: #e6eaed;
  --neutral-500: #b7bcbf;
  --neutral-600: #909599;
  --neutral-700: #5d6166;
  --neutral-800: #1e2021;
  --neutral-900: #000000;

  --primary-100: #e6fff6;
  --primary-200: #a3ffe0;
  --primary-500: #00c8aa;
  --primary-600: #00877a;
  --primary-700: #00615a;
  --primary-900: #003228;

  --secondary-100: #d5e4ff;
  --secondary-200: #92b9ff;
  --secondary-500: #508fff;
  --secondary-700: #305599;
  --secondary-900: #0f1c32;

  --purple-100: #e0d7f9;
  --purple-200: #af98f1;
  --purple-500: #7f5ae9;
  --purple-700: #32245d;
  --purple-900: #15083c;

  --pink-100: #faddf9;
  --pink-200: #f3a7f0;
  --pink-500: #ed72e7;
  --pink-700: #8e448a;
  --pink-900: #280526;
  --line: var(--neutral-400);

  --text-normal: var(--neutral-800);
  --text-strong: var(--neutral-900);
  --text-alternative: var(--neutral-600);
  --text-disabled: var(--neutral-500);
  --text-inverse: var(--neutral-0);

  --container-neutral: var(--neutral-300);
  --container-neutral-interaction: var(--neutral-400);
  --container-neutral-alternative: var(--neutral-100);
  --container-primary: var(--primary-500);
  --container-primary-interaction: var(--primary-600);
  --container-primary-alternative: var(--primary-100);
  --container-secondary: var(--secondary-500);
  --container-secondary-interaction: var(--secondary-700);
  --container-secondary-alternative: var(--secondary-100);

  --button-neutral: var(--neutral-400);
  --button-neutral-interaction: var(--neutral-500);
  --button-primary: var(--primary-500);
  --button-primary-interaction: var(--primary-600);

  --icon-normal: var(--neutral-800);
  --icon-strong: var(--neutral-900);
  --icon-alternative: var(--neutral-600);
  --icon-disabled: var(--neutral-500);
  --icon-inverse: var(--neutral-0);

  --brand-primary: var(--primary-500);
  --brand-secondary: var(--secondary-500);
  --brand-purple: var(--purple-500);
  --brand-pink: var(--pink-500);

  --state-success: #2370f9;
  --state-caution: #ffb202;
  --state-error: #ff5857;

  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --letter-spacing: -0.005em;

  --h1-size: 40px;
  --h1-line-height: 48px;
  --h2-size: 32px;
  --h2-line-height: 40px;
  --h3-size: 24px;
  --h3-line-height: 30px;
  --sub1-size: 18px;
  --sub1-line-height: 22px;
  --sub2-size: 16px;
  --sub2-line-height: 20px;
  --body1-size: 16px;
  --body1-line-height: 24px;
  --body1-weight: 470;
  --body2-size: 14px;
  --body2-line-height: 20px;
  --body2-weight: 450;
  --caption1-size: 12px;
  --caption1-line-height: 16px;
  --caption2-size: 12px;
  --caption2-line-height: 16px;
  --button1-size: 16px;
  --button1-line-height: 24px;
  --button2-size: 14px;
  --button2-line-height: 20px;

  --margin-0: 0px;
  --margin-100: 4px;
  --margin-200: 8px;
  --margin-300: 16px;
  --margin-400: 24px;
  --margin-500: 32px;
  --margin-600: 40px;

  --padding-0: 0px;
  --padding-100: 4px;
  --padding-200: 8px;
  --padding-300: 12px;
  --padding-400: 16px;
  --padding-450: 18px;
  --padding-500: 20px;

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

[data-admin] {
  --h1-size: 36px;
  --h1-line-height: 44px;
  --h2-size: 28px;
  --h2-line-height: 36px;
  --h3-size: 22px;
  --h3-line-height: 28px;
  --sub1-size: 16px;
  --sub1-line-height: 20px;
  --sub2-size: 14px;
  --sub2-line-height: 18px;
  --body1-size: 14px;
  --body1-line-height: 22px;
  --body1-weight: 500;
  --body2-size: 13px;
  --body2-line-height: 18px;
  --body2-weight: 500;
  --caption1-size: 12px;
  --caption1-line-height: 16px;
  --caption2-size: 12px;
  --caption2-line-height: 16px;
  --button1-size: 14px;
  --button1-line-height: 24px;
  --button2-size: 13px;
  --button2-line-height: 16px;
}

.dark {
  --neutral-0: #000000;
  --neutral-100: #171819;
  --neutral-200: #1e2021;
  --neutral-300: #2a2c2e;
  --neutral-400: #46494d;
  --neutral-500: #6e7173;
  --neutral-600: #9fa3a6;
  --neutral-700: #dddfe0;
  --neutral-800: #f8f8f8;
  --neutral-900: #ffffff;

  --primary-100: #003127;
  --primary-200: #00615a;
  --primary-500: #00fac8;
  --primary-600: #a3ffe0;
  --primary-700: #e6fff6;
  --primary-900: #f2fefc;

  --secondary-100: #0f1c32;
  --secondary-200: #305599;
  --secondary-500: #508fff;
  --secondary-700: #92b9ff;
  --secondary-900: #d5e4ff;

  --purple-100: #15083c;
  --purple-200: #32245d;
  --purple-500: #7f5ae9;
  --purple-700: #af98f1;
  --purple-900: #e0d7f9;

  --pink-100: #280526;
  --pink-200: #8e448a;
  --pink-500: #ed72e7;
  --pink-700: #f3a7f0;
  --pink-900: #faddf9;
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-pretendard: 'Pretendard Variable', sans-serif;

  --color-background: var(--background);
  --color-line: var(--line);

  --color-text-normal: var(--text-normal);
  --color-text-strong: var(--text-strong);
  --color-text-alternative: var(--text-alternative);
  --color-text-disabled: var(--text-disabled);
  --color-text-inverse: var(--text-inverse);

  --color-container-neutral: var(--container-neutral);
  --color-container-neutral-interaction: var(--container-neutral-interaction);
  --color-container-neutral-alternative: var(--container-neutral-alternative);
  --color-container-primary: var(--container-primary);
  --color-container-primary-interaction: var(--container-primary-interaction);
  --color-container-primary-alternative: var(--container-primary-alternative);
  --color-container-secondary: var(--container-secondary);
  --color-container-secondary-interaction: var(--container-secondary-interaction);
  --color-container-secondary-alternative: var(--container-secondary-alternative);

  --color-button-neutral: var(--button-neutral);
  --color-button-neutral-interaction: var(--button-neutral-interaction);
  --color-button-primary: var(--button-primary);
  --color-button-primary-interaction: var(--button-primary-interaction);

  --color-icon-normal: var(--icon-normal);
  --color-icon-strong: var(--icon-strong);
  --color-icon-alternative: var(--icon-alternative);
  --color-icon-disabled: var(--icon-disabled);
  --color-icon-inverse: var(--icon-inverse);

  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-purple: var(--brand-purple);
  --color-brand-pink: var(--brand-pink);

  --color-state-success: var(--state-success);
  --color-state-caution: var(--state-caution);
  --color-state-error: var(--state-error);

  --spacing-0: 0px;
  --spacing-100: 4px;
  --spacing-200: 8px;
  --spacing-300: 12px;
  --spacing-400: 16px;
  --spacing-450: 18px;
  --spacing-500: 20px;
  --spacing-600: 24px;
  --spacing-700: 32px;
  --spacing-800: 40px;

  --margin-0: var(--spacing-0);
  --margin-100: var(--spacing-100);
  --margin-200: var(--spacing-200);
  --margin-300: var(--spacing-400);
  --margin-400: var(--spacing-600);
  --margin-500: var(--spacing-700);
  --margin-600: var(--spacing-800);

  --padding-0: var(--spacing-0);
  --padding-100: var(--spacing-100);
  --padding-200: var(--spacing-200);
  --padding-300: var(--spacing-300);
  --padding-400: var(--spacing-400);
  --padding-450: var(--spacing-450);
  --padding-500: var(--spacing-500);

  --radius-sm: 8px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

body {
  color: var(--text-normal);
  font-family: var(--font-pretendard);
}

input:focus,
select:focus {
  outline: none !important;
  box-shadow: none !important;
}

@utility typo-h1 {
  font-size: var(--h1-size);
  line-height: var(--h1-line-height);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-h2 {
  font-size: var(--h2-size);
  line-height: var(--h2-line-height);
  font-weight: var(--font-weight-bold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-h3 {
  font-size: var(--h3-size);
  line-height: var(--h3-line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-sub1 {
  font-size: var(--sub1-size);
  line-height: var(--sub1-line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-sub2 {
  font-size: var(--sub2-size);
  line-height: var(--sub2-line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-body1 {
  font-size: var(--body1-size);
  line-height: var(--body1-line-height);
  font-weight: var(--body1-weight);
  letter-spacing: var(--letter-spacing);
}

@utility typo-body2 {
  font-size: var(--body2-size);
  line-height: var(--body2-line-height);
  font-weight: var(--body2-weight);
  letter-spacing: var(--letter-spacing);
}

@utility typo-caption1 {
  font-size: var(--caption1-size);
  line-height: var(--caption1-line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-caption2 {
  font-size: var(--caption2-size);
  line-height: var(--caption2-line-height);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--letter-spacing);
}

@utility typo-button1 {
  font-size: var(--button1-size);
  line-height: var(--button1-line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing);
}

@utility typo-button2 {
  font-size: var(--button2-size);
  line-height: var(--button2-line-height);
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing);
}

.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-500) transparent;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: var(--neutral-500);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.ProseMirror {
  color: var(--text-normal);
}

.ProseMirror h1 {
  @apply typo-h1;
}

.ProseMirror h2 {
  @apply typo-h2;
}

.ProseMirror h3 {
  @apply typo-h3;
}

/* 리스트 기본 스타일 */
.ProseMirror ul {
  list-style-type: disc;
  padding-left: var(--padding-400);
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: var(--padding-400);
}

.ProseMirror li + li {
  margin-top: var(--spacing-300);
}

/* 인용 */
.ProseMirror blockquote {
  font-style: italic;
  border-left: 3px solid var(--line);
  padding-left: var(--padding-400);
  margin: var(--margin-300) 0;
  font-weight: normal;
}

.ProseMirror blockquote p::before,
.ProseMirror blockquote p::after {
  content: none !important;
}

/* 인라인 코드 */
.ProseMirror code:not(pre code) {
  background-color: var(--container-neutral-alternative);
  color: var(--text-normal);
  padding: var(--padding-100) var(--padding-200);
  border-radius: var(--radius-sm);
  font-weight: normal;
}

.ProseMirror code::before,
.ProseMirror code::after {
  content: none;
}

/* 코드 블록 */
.ProseMirror pre {
  background-color: var(--container-neutral-alternative);
  border-radius: var(--radius-sm);
  padding: var(--padding-300) var(--padding-400);
}

.ProseMirror pre code {
  background-color: transparent;
  color: var(--text-normal);
  padding: 0;
}

.ProseMirror ul[data-type='taskList'] {
  padding-left: 0;
}

.ProseMirror ul[data-type='taskList'] li p {
  margin-top: var(--margin-200) !important;
  margin-bottom: var(--margin-200) !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
